header{
    display: flex;
    justify-content: space-between;
    background-color: #5451ee;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

#logo{
    height: 80px;
    width: 80px;
    border: 2px solid #000;
    margin-top: 6px;
}

nav{
    text-align:end;
}

a{
    display: inline-flex;
    align-items: center;
    color: black;
    font-family: "Fira Code";
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #000;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}




