.progress-bar {
    box-sizing: border-box;
    border: 5px solid rgb(0, 0, 0);
    color: red;
    height: 40px;
}

.progress-bar::-webkit-progress-bar,
::-moz-progress-bar {
    background-color: rgb(80, 107, 226);
}