.section{
    background-color: brown;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #fff;
}

.section .main-title{
    margin-bottom: 60px;
}

.section.-bgblack{
    background-color: black;
}

.section.-bdfirst{
    border-color: blue;
}

.section.-bgsecond{
    background-color: blueviolet;
}

.section.-bdblack{
    border-color: black;
}